@import './vars.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: Dotum, '돋움', Helvetica, "Apple SD Gothic Neo", sans-serif;
  font-size: var(--font-size);
  line-height: 1.6;

  color: var(--color);
  background-color: var(--bg-color);
}

body {
  margin: 0;
  padding: 0;
}

main > section {
  margin-bottom: 8rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif KR', serif;
  font-weight: normal;
  margin: 0 0 1.5em;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  padding: 0 1rem 0.1rem;
  border-left: 6px solid var(--point-color);
}

p {
  margin: 1.5em 0;
  word-break: keep-all;
}

a, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

strong {
  color: var(--highlight-color);
}

span.good, span.bad {
  padding: 1px 3px;
  border-radius: 2px;
  font-weight: bold;
  word-break: keep-all;
  white-space: nowrap;
  color: #fff;
}

span.good {
  background-color: var(--good-color);
}

span.bad {
  background-color: var(--bad-color);
}
