.root {
  position: relative;
  overflow: hidden;
  width: 16rem;
  height: 100%;
  flex: 0 0 auto;
  padding: 1.2rem 1rem;
  border: 1px solid #333;
  margin: 0 1rem 0 0;
  box-shadow: 1px 1px 3px #222;
  scroll-snap-align: start;
}

.meta {
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

.cp-name {
  display: inline-block;
  padding: 1px 4px 0;
  border: 1px solid currentColor;
  margin-right: 0.4em;
  border-radius: 2px;
}

.authors {
  display: inline;
  margin-right: 0.4em;
}

.date {
  display: inline;
}

.title {
  margin-bottom: 0.5em;
}

.more {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4em;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.5) 15%, #141414 70%);
  line-height: 4em;
  text-align: center;
}
