@import "../styles/vars.css";

.root {
  position: relative;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
}

.rank {
  display: inline-block;
  width: 2em;
  padding-right: 0.4em;
  text-align: right;
}

.name {
  display: inline-block;
  width: 8em;
  white-space: nowrap;
}

.percent {
  display: inline-block;
  padding-right: 0.4em;
  padding-left: 0.4em;
}

.counts {
  display: inline-block;
}

.bar-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 10em;
  display: block;
  height: 100%;
}

.bar-container > span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.bad {
  background-color: var(--bad-color);
}

.good {
  background-color: var(--good-color);
}
