.root ul {
  padding: 0;
  margin: 0 0 6rem;
  list-style-type: none;
}

@media screen and (min-width: 700px) {
  .root ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .root li {
    flex-basis: 30%;
    flex-direction: column;
    margin: 0.5rem;
  }

  .root h3 {
    height: 5rem;
    padding: 0;
    border-top: 4px solid var(--point-color);
    border-left: 0;
    margin-bottom: 1rem;
    font-size: 1.65rem;
  }
}

.root section {
  margin-bottom: 6rem;
}

.root p {
  font-size: 1.1rem;
}
