@import "../styles/vars.css";

.items {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid var(--point-color);
  background-color: rgba(30, 0, 0, 0.7);
}

.items ul {
  display: flex;
  max-width: 60rem;
  padding: 0 0.5em;
  margin: 0 auto;
  list-style-type: none;
}

.items a {
  display: block;
  height: 3em;
  padding: 0 0.7em;
  line-height: 3em;
}

.active {
  background-color: var(--point-color);
}

.button {
  width: 0;
  height: 0;
}

@media (max-width: 600px) {
  .button {
    position: fixed;
    z-index: 1;
    right: 3rem;
    bottom: 3rem;
    display: block;
    width: 4rem;
    height: 4rem;
    border: 1px solid #000;
    background-color: var(--point-color);
    border-radius: 2rem;
  }

  .items {
    top: initial;
    right: 3rem;
    bottom: 3rem;
    left: initial;
    display: none;
    border-bottom-width: 0;
    background-color: rgba(30, 0, 0, 0.9);
  }

  .items ul {
    display: block;
  }
}
